<section class="login-section" fxLayout="row" fxLayoutAlign="center">
    <!-- Welcome Message -->
    <!-- The login Up Form -->
    <form [formGroup]="loginForm" class="login-form">
        <mat-card style="margin-top: 25px" fxFlex.gt-sm="400px" fxLayout="column" fxLayoutAlign="center center">
            <mat-card-title>
                LogIn
            </mat-card-title>

            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <!-- Email Address -->
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Your email">
                    <mat-error *ngIf="email?.errors?.['required']">Email is required.</mat-error>
                    <mat-error *ngIf="email?.errors?.['email']">Invalid email.</mat-error>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Your password">
                    <mat-error *ngIf="password?.errors?.['required']">Password is required.</mat-error>
                    <mat-hint *ngIf="password?.value.length < 8" align="end">{{password?.value.length}}/8</mat-hint>
                </mat-form-field>

                <!-- Terms checkbox -->
                <mat-checkbox matTooltip="{terms & conditions not found}" [matTooltipPosition]="tooltipPosition.value!"
                    disabled checked color="primary">Agree to terms & conditions.*</mat-checkbox>

                <!-- Form Submit -->
                <button *ngIf="!isLoading" [disabled]="loginForm?.invalid" mat-raised-button type="submit"
                    color="primary" (click)="onLogin()">LogIn</button>
                <mat-spinner *ngIf="isLoading"></mat-spinner>

            </mat-card-content>
        </mat-card>
    </form>
</section>