<section class="new-training" fxFlex fxLayout="row" fxLayoutAligh="center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
        <mat-card fxFlex.gt-sm="400px">
            <mat-card-title>
                Time for some workout dude!
            </mat-card-title>

            <mat-card-content>
                <mat-form-field appearance="fill" #formField>
                    <mat-label>Select the excercise</mat-label>
                    <mat-select ngModel name="selectedExcercise" required>
                        <mat-option *ngFor="let excercise of availableExcercises" [value]="excercise.name"
                            name="selectedExcercise">
                            {{excercise.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>

            <button mat-raised-button color="primary" [disabled]="f.invalid">Start</button>
        </mat-card>
    </form>
</section>