.card-wrapper {
    justify-content: center;
    padding: 40px;
}

mat-card-title {
    text-align: center;
}

.start-button {
    display: flex;
    justify-content: center;
    width: inherit;
}

button {
    height: 38px;
    font-size: larger;
    width: 95px;
}