<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onCloseSideNav()">
        <mat-icon class="me-2">face</mat-icon>
        <span>Sign Up</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onCloseSideNav()">
        <mat-icon class="me-2">login</mat-icon>
        <span>Log In</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="onCloseSideNav()">
        <mat-icon class="me-2">fitness_center</mat-icon>
        <span>Training</span>
    </a>
    <a mat-list-item routerLink="/" (click)="onCloseSideNav()">
        <mat-icon class="me-2">logout</mat-icon>
        <span>Logout</span>
    </a>
</mat-nav-list>