<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-start">
        <ul fxLayout fxLayoutGap="15px">
            <li class="app"><a style="font-weight: 550" routerLink="/"><i class="material-icons">directions_run</i>FitTracker</a></li>
            <!-- <li class="app"><a style="font-weight: 550" routerLink="/pomodoro"><i class="material-icons">timer</i>PoMoDoRo</a></li> -->
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items mt-3">
            <li *ngIf="!isAuth"><a routerLink="/signup">Sign Up</a></li>
            <li *ngIf="!isAuth"><a routerLink="/login">Log In</a></li>
            <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
            <li *ngIf="isAuth"><a routerLink="/" (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
</mat-toolbar>