<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">
            <img class="logo" src="../../../assets/logo.png" alt="">
        </a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items mt-3">
            <li *ngIf="!isAuth"><a routerLink="/signup">Sign Up</a></li>
            <li *ngIf="!isAuth"><a routerLink="/login">Log In</a></li>
            <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
            <li *ngIf="isAuth"><a routerLink="/" (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
</mat-toolbar>