/* form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
} */

mat-form-field {
    width: 300px;
    
}


h2 {
    margin-top: 25px;
    text-decoration: underline;
}

button {
    margin-top: 10px;
}

.icon {
    font-size: 15px;
    color: #3f51b5;
}

mat-checkbox {
    margin-top: 10px;
}

.signup-section {
    justify-content: center;
}

a {
    font-weight: 500;
}