/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
    height: 100%;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

* {
    box-sizing: border-box;
}

.makeItMiddle{
    transform: translate(-50%, -50%);
    margin-bottom: 100px;
}

.mat-tooltip {
    font-size: 15px !important;
    /* background-color: #3f51b5; */
    height: 35px;
    opacity: 50%;
}